# dependencies
node_modules/
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
.next/
/out/

# production
/build
dist/

# turbo
.turbo/

# misc
.DS_Store
*.pem
*.tsbuildinfo

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# google calendar oauth tokens
token.json
*.mjs
.claude/
supabase/.temp/

# expo
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
.vercel
